body{
	background: #ffeeff;
}

h1 {
	margin:10px;
	font-size: 24px; 
	text-align:center;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: underline;
}

h2{
	margin:5px;
	font-size: 18px; 
	font-family: Tahoma, Geneva, sans-serif;
}

table, select, button {
	font-size: 14px; 
	font-family: Tahoma, Geneva, sans-serif;
}

td, th{
	padding-left: 5px;
	padding-right: 5px;
}
th{
	font-size: 16px;
}
button{
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	color: #ffffff;
	background: #119923;
}
button:hover{
	background: #11bb23;
};